<li id="joke-{{id}}">
    <label>Setup: </label>{{setup}}<br/>
    <label>Punchline: </label>{{punchline}}<br/>
    <button type="submit" id="{{id}}" onclick="deleteJoke(this.id)">Delete</button>

    {{#each joke}}
        {{setup}} {{punchline}} {{id}}<br/>
    {{/each}}
</li>